{% extends 'movie/base.html' %}
{% block content %}
  <main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>About Website</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          <h1>Django Project</h1>
        </div>
          <br/>
          <br/>
          <br/>
          <div class="portfolio-description">
            <h2>2022-1 Cloud Programming</h2>
               <br/>
            <h4>Django와 Pass-ta를 이용한 프로젝트입니다.</h4>
               <br/>
              <p>프로젝트 Eivom은 영화 추천 서비스로 주간 인기 영화, 장르별 영화를 볼 수 있으며 원하는 영화를 검색할 수 있습니다.</p>
                <p>영화 별 줄거리, 개봉 날짜, 상영 시간, 평점을 확인할 수 있으며
                사용자들이 Review를 통해 영화 추천, 경험 공유가 가능한 웹 서비스입니다.</p>
              <br/>
              <h5>상명대학교 컴퓨터과학과 201910938 4학년 김예진</h5>
            <h6>Contact: jnss09@naver.com</h6>
          </div>

        </div>
    </section><!-- End Portfolio Section -->
  </main>
{% endblock %}
